main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    width: 100%;
    height: 698px;

    & .section1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 50%;
        height: 100%;

        & .divImage {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            width: 50%;
            height: 50%;

            transition: all ease-in-out 0.3s;

            &:hover {
                & .tooltip {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }

            & .tooltip {
                position: absolute;
                top: -25%;
                left: 5%;

                width: 100%;

                color: #bb3036;
                font-size: 36px;
                text-align: center;
                font-weight: bolder;

                opacity: 0;
                visibility: hidden;
                transition: all ease-in-out 0.3s;
                transform: translateY(10px);
                pointer-events: none;
            }

            & .imgPizza {
                margin-left: 10%;
                width: 80%;
            }
        }
    }

    & .section2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 50%;
        height: 100%;

        background-color: #0e0d0d;

        & .form {
            display: flex;
            justify-content: space-between;
            align-items: start;
            flex-direction: column;

            width: 600px;
            height: 550px;
            margin: auto;
            padding: 15px;

            border: 1px solid black;
            border-radius: 15px;
            background-color: #3b3737;

            color: white;

            & .title {
                position: relative;
                top: 0;

                display: flex;
                align-items: center;
                justify-content: center;

                width: calc(100% + 30px);
                height: 60px;

                margin: -15px 0 10px -15px;

                border: none;
                border-radius: 12px 12px 0 0;
                background-color: #800909;

                color: #ffbd59;
                text-shadow: -2px 2px 2px #272424;
            }

            & .dados {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;

                width: 100%;
                height: 100%;

                & .labelInput {
                    position: relative;
                    
                    margin: auto;
                    width: 100%;

                    display: flex;

                    & label{
                        letter-spacing: 2px;
                    }

                    & .input{
                        flex: 1;
                        display: flex;
                        justify-content: end;
                    }

                    &:hover {
                        & p {
                            opacity: 1;
                            visibility: visible;
                            transform: translateX(60%);
                        }
                    }

                    & p {
                        position: absolute;
                        top: 0;
                        right: 0;

                        background-color: rgba(255, 255, 255, 0.822);
                        color: black;
                        padding: 10px 15px;

                        border: 1px solid black;
                        border-radius: 10px 10px 10px 0px;

                        opacity: 0;
                        visibility: hidden;
                        transition: all ease-in-out 0.3s;
                        transform: translateX(40%);
                    }

                    & input {
                        max-width: 430px;
                        height: 30px;
                        padding-left: 5px;

                        border: none;
                        border-radius: 10px;
                        letter-spacing: normal;
                    }
                }
            }

            & .Btns {
                display: flex;
                justify-content: space-around;
                align-items: end;

                width: 100%;
                height: 10%;
                margin-top: auto;

                & .btnDiv {
                    position: relative;

                    width: 25%;

                    &:hover {
                        & p {
                            opacity: 1;
                            visibility: visible;
                            transform: translate3d(70%, 55%, 0);    
                        }
                    }

                    & p {
                        position: absolute;
                        top: 0;
                        right: 0;

                        width: 150%;
                        z-index: 1000;

                        background-color: rgba(255, 255, 255, 0.822);
                        color: black;
                        padding: 10px 15px;
                        margin: 0;

                        border: 1px solid black;
                        border-radius: 0px 10px 10px 10px;

                        transition: all ease-in-out 0.3s;
                        transform: translate3d(40%, 0,0);

                        opacity: 0;
                        visibility: hidden;
                    }

                    & button {
                        width: 100%;
                        height: 30px;
                        font-size: 18px;
                        border: none;
                        border-radius: 10px;
                        cursor: pointer;
                        transition: all ease-in-out 0.2s;
                        letter-spacing: 2px;

                        &:hover {
                            transform: scale(105%);
                        }
                    }

                    & .Btn-Approve {
                        background-color: #08c96c;

                        &:hover {
                            background-color: #07a358;
                        }
                    }

                    & .Btn-Cancel {
                        background-color: #ff5757;

                        &:hover {
                            background-color: #df4343;
                        }
                    }

                }
            }
        }
    }
}