@keyframes pulsar {
    0% {
        transform: scale(1.0);
    }

    100% {
        transform: scale(1.1);
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    letter-spacing: 4px;
    font-family: "Fira Code", monospace;
}

html,
body {
    height: 100%;
    width: 100%;

    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    max-height: none;
    overflow-x: hidden;
    background-color: #272424;
}

.occult{
    *{
        opacity: 0.6;
    }
}

header {
    position: fixed;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 141px;

    background: linear-gradient(to left, #5d2828, #9f3939);

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        width: 100%;
        height: 100%;

        .logotipo {
            display: flex;
            align-items: center;
            justify-content: center;

            margin-left: 50px;
            height: 100%;
            width: auto;

            p {
                font-size: 44px;
                color: #ffbd59;
                text-shadow: -2px 1px 3px rgba(0, 0, 0, 1);
            }
        }

        .acoes {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            width: auto;
            height: 100%;

            font-size: 30px;
            margin-right: 50px;

            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 50px;
                width: auto;

                margin-right: 70px;

                list-style-type: none;

                li {
                    width: auto;
                }

                a {
                    display: inline-block;
                    color: white;
                    text-decoration: none;
                    transition: all ease 0.3s;
                    border: none;
                    border-radius: 15px;
                    padding: 2px 2px 2px 4px;

                    &:hover {
                        color: #ffbd59;
                        background-color: #27242485;
                        transform: translateY(-5px);
                    }
                }
            }

            .acoes-login {
                display: flex;
                align-items: center;
                justify-content: center;

                height: 100%;

                a {
                    display: inline-block;
                    color: white;
                    text-decoration: none;

                    transition: all ease 0.3s;
                    border: none;
                    border-radius: 15px;
                    padding: 2px 2px 2px 4px;

                    &:hover {
                        color: #ffbd59;
                        background-color: #27242485;
                        transform: translateY(-5px);
                    }
                }
            }
        }
    }
}

.spacement {
    height: 261px;
    background-color: #272424;
}

main {
    flex: 1;

    height: 100%;
}

.swiper {
    width: 100%;
    height: 500px;
    margin-top: 50px;

    .swiper-button-next,
    .swiper-button-prev {
        color: #ffbd59 !important;
        transition: transform 0.2s;
        margin: 0px 20px;

        &:hover {
            transform: scale(1.2);
        }
    }

    .swiper-wrapper {
        width: 100%;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;

        * {
            cursor: default;
            transition: all ease 0.3s;
        }

        .grow:hover {
            transform: scale(1.1);
        }

        .card-pizza {
            background: #2b2727;
            border: 1px solid #ffbd595b;
            border-radius: 20px;

            padding: 30px;
            max-width: 400px;
            width: 100%;

            text-align: center;
            transition: all 0.6s ease;

            &:hover {
                transform: translateY(-10px);
                box-shadow: 0px 10px 20px rgba(255, 189, 89, 0.3);
                border: 1px solid #ffbd59;

                .btn-detalhes {
                    animation: pulsar 0.8s ease infinite alternate;
                }
            }

            img {
                width: 200px;
                border-radius: 15px;
                margin-bottom: 10px;
            }

            h3 {
                color: #ffbd59;
                margin: 15px 0;
            }

            .desc-log {
                color: #a5a5a5;
                font-size: 0.8rem;
                margin-bottom: 20px;
                line-height: 1.4;
                width: 100%;
            }

            .btn-detalhes {
                background: #272020;
                color: #a5a5a5;
                border: none;
                padding: 10px 20px;
                border-radius: 5px;
                font-weight: bold;
                cursor: pointer;
                transition: all ease 0.6s;

                &:hover {
                    background-color: #ffbd59;
                    color: #2b2727;
                }
            }
        }
    }
}

