footer {
    position: absolute;
    z-index: 1000;

    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: solid 1px black;

    & .github-icon {
        background-color: white;
        border: 1px solid white;
        border-radius: 50%;

    }

    & .footer-link {
        margin-left: -150px;
        border-radius: 15px;
        padding: 10px;

        transition: all ease-in-out 0.2s;

        &:hover {
            transform: scale(1.05);
        }

        & a {
            text-decoration: none;
            transition: all ease-in-out 0.2s;

            &:hover {
                text-decoration: underline;
                transform: scale(1.05);
            }
        }
    }
}

footer.white {

    background-color: rgb(235, 235, 235) !important;
    color: black !important;

    & .footer-link {
        border: solid 1px black !important;
        background-color: rgb(209, 209, 209) !important;

        &:hover {
            background-color: rgb(201, 201, 201);
        }

        & a {
            color: black;
        }
    }

}

footer.black {

    background-color: black !important;
    color: white !important;

    & h4 {
        color: rgb(101, 101, 146);
    }

    & p {
        color: rgb(101, 101, 146);

        & a {
            color: rgb(56, 56, 90);
        }
    }

    & .footer-link {
        border: solid 1px white !important;
    }

}