* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Dark-Souls-III';
    src: url('../../src/font/OptimusPrinceps.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    min-width: 100%;
    height: 100vh;
    overflow-x: hidden;

    font-family: 'Dark-Souls-III', sans-serif;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 89.3%;

    color: rgb(216, 126, 84);

    background-color: rgb(25, 25, 25);
    background-image: url('../../src/Images/DarkSign.jpg');
    background-size: 300px;
    background-position: 50%;
    background-repeat: no-repeat;
}

.lista-ordenada {


    width: 15%;
    height: 50%;
    padding: 20px;

    border-radius: 15px;

    background-color: rgb(73, 73, 73);

    & .title {
        position: relative;

        width: 100%;
        height: max-content;

        text-align: center;
        cursor: default;
        z-index: 1;
        transition: all ease-in-out 0.2s;

        &::after{
            content: "";
            position: absolute;
            z-index: -1;
            left: 0;
            top: 45%;

            width: 0;
            height: 4px;

            background-color: rgb(160, 90, 58);
            transition: all ease-in-out 0.3s;
            pointer-events: none;
        }

        &:hover {
            transform: scale(115%);
            background-color: rgb(41, 41, 41);

            &::after{
                width: 100%;
            }
        }
    }

    & .lista {
        display: flex;
        align-items: center;
        justify-content: center;
        
        padding: 0;

        width: 100%;
        height: 90%;

        & ol {
            display: flex;
            justify-content: space-between;
            align-items: start;
            flex-direction: column;
            gap: 20px;

            list-style-type: circle;
            font-size: 22px;
            width: 100%;
            height: max-content;
            color: orange;

            & li {
                width: max-content;
                height: 100%;
                margin: 5px 0px 0px 20%;

                & a {
                    text-decoration: none;
                    color: rgb(197, 188, 105);
                    border-radius: 5px;
                    transition: all ease-in-out 0.2s;

                    &:hover {
                        margin: 10px;
                        padding: 5px;
                        font-size: 28px;
                        color: rgb(138, 46, 46);
                        text-decoration: line-through;
                        text-decoration-color: rgb(110, 35, 35);
                        background-color: rgb(41, 41, 41);
                    }
                }
            }
        }
    }
}