footer {
    position: absolute;
    z-index: 1000;

    width: 100%;
    height: max-content;
    margin: 0;
    padding: 0;
    background-color: rgb(235, 235, 235);

    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: solid 1px black;

    & .footer-link {
        margin-left: -150px;
        border: solid 1px black;
        border-radius: 15px;
        padding: 10px;
        background-color: rgb(209, 209, 209);
        transition: all ease-in-out 0.2s;

        &:hover {
            background-color: rgb(201, 201, 201);
            transform: scale(1.05);
        }

        & a {
            text-decoration: none;
            color: black;
            transition: all ease-in-out 0.2s;

            &:hover {
                text-decoration: underline;
                transform: scale(1.05);
            }
        }
    }
}